<service name="git_tarballs">
  <summary>Download tarballs and update package data</summary>
  <description>This service downloads tarballs and updates the spec file version and changes file</description>
  <param name="url">
    <description>URL of the tarball to download. It should contain a ChangeLog file in git log format.</description>
    <required/>
  </param>
  <param name="package">
    <description>RPM package name.</description>
    <required/>
  </param>
  <param name="filename">
    <description>Name of the filename where the tarball will be downloaded.</description>
    <required/>
  </param>
  <param name="email">
    <description>User's email that will be used to sign the rpm's .changes file</description>
    <required/>
  </param>
</service>
